{% extends "layouts/app.html.twig" %}

{% block main %}
    <div class="h-[100vh] max-h-[1000px] w-full flex items-center justify-center relative">
        <div id="nav" class="absolute top-0 left-1/10 w-4/5 flex items-center justify-evenly transition-all duration-1000
        delay-1000 gap-10 py-6 opacity-0 z-10">
            <a class="text-xs text-center italic hover:text-shadow-white text-shadow-xs/25 hover:text-shadow-lg/25 cursor-pointer
            transition-all duration-150"
               href="">Directions</a>
            <a class="text-xs text-center italic hover:text-shadow-white text-shadow-xs/25 hover:text-shadow-lg/25 cursor-pointer
            transition-all duration-150"
               href="">RSVP</a>
            <a class="text-xs text-center italic hover:text-shadow-white text-shadow-xs/25 hover:text-shadow-lg/25 cursor-pointer
            transition-all duration-150"
               href="">Registry</a>
            <a class="text-xs text-center italic hover:text-shadow-white text-shadow-xs/25 hover:text-shadow-lg/25 cursor-pointer
            transition-all duration-150 hidden md:inline"
               href="">Memory Lane</a>
        </div>

        <div id="the-beasleys" class="z-10 flex flex-col items-center justify-center">
            <p class="font-script text-3xl ml-2  opacity-0 transition-all duration-1000 delay-100">the</p>
            <p class="font-script text-5xl  opacity-0 transition-all duration-1000 delay-100">Beasleys</p>
            <p class="italic mt-10 text-sm opacity-0 transition-all duration-1000 delay-500">10 / 3 / 2026</p>
        </div>

        {# Bluebonnets Background #}
        <div class="z-0 flex items-center justify-center absolute top-0 left-0">
            <img src="/public/img/bluebonnets.webp"
                 alt="bluebonnets"
                 class="w-full h-[100vh] max-h-[1000px] object-cover object-right opacity-25 saturate-0"/>
        </div>
    </div>

    <section id="welcome-section" class="flex flex-col py-20 text-center items-center justify-center mx-auto w-11/12
    max-w-[800px] relative my-10">
        {# Top ornaments #}
        <div aria-hidden="false" class="fade-in absolute flex flex-row items-center justify-between w-full top-0 left-0">
            <img class="w-10 h-10 saturate-0 brightness-200 -scale-y-100" alt="Ornamental corner piece" src="/public/img/corner_ornament.webp"/>

            <img class="w-10 h-10 saturate-0 brightness-200 -scale-100" alt="Ornamental corner piece" src="/public/img/corner_ornament.webp"/>
        </div>

        <div class="h-[400px] w-3/4 max-w-[600px] flex items-center justify-center overflow-hidden rounded-lg
        mb-10 bg-glass">
            <img src="/public/img/beb_n_i.jpeg" alt="Future Mr and Mrs Beasley" class="h-full w-full"/>
        </div>

        <p class="fade-in w-4/5" aria-hidden="false">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut deserunt dignissimos doloremque eveniet fugit
            harum illo minus mollitia neque obcaecati, odio odit quam saepe sapiente?
        </p>

        {# Bottom ornaments #}
        <div aria-hidden="false" class="fade-in absolute flex flex-row items-center justify-between w-full bottom-0 left-0">
            <img class="w-10 h-10 saturate-0 brightness-200" alt="Ornamental corner piece" src="/public/img/corner_ornament.webp"/>

            <img class="w-10 h-10 saturate-0 brightness-200 -scale-x-100" alt="Ornamental corner piece" src="/public/img/corner_ornament.webp"/>
        </div>
    </section>

    <section id="link-tree" class="flex flex-col items-center justify-center py-16">
        <p class="text-4xl font-script fade-in">Links</p>
        <img src="/public/img/divider_ornament.png"
             alt="Ornamental Divider"
             class="invert-100 brightness-90 w-[120px] -mt-[50px] fade-in z-0"/>

        <div class="w-full flex flex-col items-center justify-start gap-4 -mt-[30px] z-10 fade-in">
            <a class="text-xl hover:text-shadow-white text-shadow-lg/25 cursor-pointer transition-all duration-150"
               href="/">RSVP</a>
            <a class="text-xl hover:text-shadow-white text-shadow-lg/25 cursor-pointer transition-all duration-150"
               href="/">Directions</a>
            <a class="text-xl hover:text-shadow-white text-shadow-lg/25 cursor-pointer transition-all duration-150"
               href="/">Registry</a>
            <a class="text-xl hover:text-shadow-white text-shadow-lg/25 cursor-pointer transition-all duration-150"
               href="/">Memory Lane</a>
        </div>
    </section>

    <div class="w-full flex items-center justify-center my-20">
        <p class="text-xs text-text/35 font-mono">Written by Kyle with love <3</p>
    </div>

    <script src="/public/js/index.js"></script>
{% endblock %}