{% extends "layouts/app.html.twig" %}

{% block title %}Registry | {{ parent() }}{% endblock %}

{% block headscripts %}
  <script src="/public/js/registry.js" defer></script>

  {{ parent() }}
{% endblock %}

{% block main %}
  <div class="min-h-screen flex flex-col items-center justify-baseline py-10">
    <div class="flex flex-col items-center justify-baseline px-4 w-11/12 max-w-[450px] md:max-w-200 bg-gray-50
    rounded-lg py-4 md:py-8">
      <p class="text-4xl pt-4 text-center font-script text-bkg">Our Registry</p>

      <div class="w-3/4 h-[1px] mt-4 mb-8 bg-bkg/25"></div>

      <div class="flex flex-wrap flex-1/2 items-start justify-between gap-y-8 gap-x-4 w-full">
        {% for item in items %}
          {% include "components/registry/itemCard.html.twig" with {
            "displayName" : item["item"]["name"] ?? "NONE",
            "price" : item["item"]["itemOffered"]["offers"]["price"],
            "thumbail" : item["item"]["itemOffered"]["image"],
            "purchaseLink" : item["item"]["url"],
            "store" : item["item"]["itemOffered"]["offers"]["seller"]["name"]
          } %}
        {% endfor %}
      </div>
    </div>

{#  GO STEAL THE DATA FOR THIS FROM MY REGISTRY.COM MAYBE LIKE ONCE OR TWICE A DAY SO AS TO NOT PISS THEM OFF #}
  </div>
{% endblock %}
