{% extends "layouts/app.html.twig" %}

{% block title %}Travel | {{ parent() }}{% endblock %}

{% block main %}
    <div class="w-full h-fit flex flex-col py-40">
        <p class="text-5xl">Travel</p>
        <div class="my-16">
            <p class="text-7xl">Lets plan accordingly</p>
        </div>
    </div>
{% endblock %}
