{% extends "layouts/app.html.twig" %}

{% block title %}Astin Mansion | {{ parent() }}{% endblock %}

{% block main %}
    {# Hero : Slideshow of pretty Astin pics #}
    <div class="h-140 flex flex-col lg:flex-row items-center justify-start mx-auto w-11/12">
        <div class="flex flex-col items-start justify-center w-full lg:w-1/2">
            <p class="text-xs text-neutral-400">The Venue</p>
            <p class="font-script text-5xl">Astin Mansion</p>
        </div>
    </div>

{% endblock %}
