{# Item Filter #}
<div class="w-full relative flex justify-start gap-x-4 items-center py-4 px-2 text-xs mb-2 text-bkg">
  <p class="">Filter:</p>

  <div class="flex gap-x-2 items-center justify-end">
    {# Category Filter #}
    <div class="relative h-full w-fit">
      <p class="flex gap-1 items-center justify-end">Category</p>
    </div>
  </div>
</div>
